services:

  astra-app:
    build: .
    volumes:
      - .:/app
    depends_on:
      - qdrant
      - searxng
    environment:
      - LANGCHAIN_TRACING_V2=false
      - QDRANT_URL=http://qdrant:6333
      - SEARXNG_URL=http://searxng:8080
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

  searxng:
    image: searxng/searxng:latest
    ports:
      - "8080:8080"
    environment:
      - SEARXNG_BASE_URL=http://searxng:8080/
    volumes:
      - ./searxng:/etc/searxng
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID

volumes:
  qdrant_storage: