services:
  astra-backend:
    build: .
    volumes:
      - .:/app
    depends_on:
      - qdrant
      - searxng
    environment:
      - LANGCHAIN_TRACING_V2=true
      - LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}
      - QDRANT_URL=http://qdrant:6333
      - SEARXNG_URL=http://searxng:8080
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"


  astra-frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - astra-backend


  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage


  searxng:
    image: searxng/searxng:latest
    ports:
      - "8080:8080"
    environment:
      - SEARXNG_BASE_URL=http://searxng:8080/
    volumes:
      - ./searxng:/etc/searxng
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID

volumes:
  qdrant_storage: